{#
/**
 * @file
 * Default theme implementation to display the basic html structure of a single
 * Drupal page.
 *
 * Variables:
 * - $css: An array of CSS files for the current page.
 * - $language: (object) The language the site is being displayed in.
 *   $language->language contains its textual representation.
 *   $language->dir contains the language direction. It will either be 'ltr' or
 *   'rtl'.
 * - $rdf_namespaces: All the RDF namespace prefixes used in the HTML document.
 * - $grddl_profile: A GRDDL profile allowing agents to extract the RDF data.
 * - $head_title: A modified version of the page title, for use in the TITLE
 *   tag.
 * - $head_title_array: (array) An associative array containing the string parts
 *   that were used to generate the $head_title variable, already prepared to be
 *   output as TITLE tag. The key/value pairs may contain one or more of the
 *   following, depending on conditions:
 *   - title: The title of the current page, if any.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site, if any, and if there is no title.
 * - $head: Markup for the HEAD section (including meta tags, keyword tags, and
 *   so on).
 * - $styles: Style tags necessary to import all CSS files for the page.
 * - $scripts: Script tags necessary to load the JavaScript files and settings
 *   for the page.
 * - $page_top: Initial markup from any modules that have altered the
 *   page. This variable should always be output first, before all other dynamic
 *   content.
 * - $page: The rendered page content.
 * - $page_bottom: Final closing markup from any modules that have altered the
 *   page. This variable should always be output last, after all other dynamic
 *   content.
 * - $classes String of classes that can be used to style contextually through
 *   CSS.
 *
 * @ingroup templates
 *
 * @see bootstrap_preprocess_html()
 * @see template_preprocess()
 * @see template_preprocess_html()
 * @see template_process()
 */
#}
{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
    theme.settings.navbar_position ? 'navbar-is-' ~ theme.settings.navbar_position,
    theme.has_glyphicons ? 'has-glyphicons',
  ]
%}
<!DOCTYPE html>
<html {{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token|raw }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <css-placeholder token="{{ placeholder_token|raw }}">
    <js-placeholder token="{{ placeholder_token|raw }}">
    <link rel="shortcut icon" href="https://repo.wsu.edu/spine/1/favicon.ico" />
  </head>
  <body{{ attributes.addClass(body_classes) }}>
    <a href="#main-content" class="visually-hidden focusable skip-link">
      {{ 'Skip to main content'|t }}
    </a>

<!-- NAVIGATION BAR -->

<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-primary-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="menu-bar">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://vancouver.wsu.edu"> <a href="https://www.vancouver.wsu.edu"><img class="horizontal-logo" src="https://www.vancouver.wsu.edu/sites/www.vancouver.wsu.edu/themes/omegawsuv/images/wsu-vancouver-horizontal-logo-rgb.svg" alt="Washington State University Vancouver logo"></a></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-primary-navbar-collapse-1" tabindex="1">
        <ul class="nav navbar-nav">
            <!-- <li><a href="https://www.vancouver.wsu.edu/about-wsu-vancouver">About</a></li> -->
            <li><a href="https://studentaffairs.vancouver.wsu.edu/admissions">Admissions</a></li>
            <li><a href="https://studentaffairs.vancouver.wsu.edu/admissions/degrees-majors-and-programs">Degrees</a></li>
            <li><a href="https://studentaffairs.vancouver.wsu.edu/student-affairs/resources-current-students">Students</a></li>
            <!-- <li><a href="https://admin.vancouver.wsu.edu/research">Research</a></li> -->
            <li><a href="https://admin.vancouver.wsu.edu/development-and-alumni-relations">Alumni</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="https://studentaffairs.vancouver.wsu.edu/student-affairs/bookie-student-bookstore">Bookstore</a></li>
                  <li><a href="http://learn.wsu.edu/">Blackboard</a></li>
                  <li><a href="http://directory.vancouver.wsu.edu">Directory</a></li>
                  <li><a href="https://library.vancouver.wsu.edu">Library</a></li>
                  <li><a href="https://my.wsu.edu/">myWSU</a></li>
                  <li><a href="http://office365.wsu.edu/">Office 365</a></li>
                  <li><a href="https://admin.vancouver.wsu.edu/information-technology">Tech Support</a></li>
                  <li><a href="https://outlook.office365.com/owa/wsu.edu/">Webmail</a></li>
                </ul>
            </li>
        </ul>
        <div class="col-sm-3 col-md-3 pull-right">
            <form action="/search/node" method="get" class="navbar-form" role="search">
                <div class="input-group" tabindex="2">
                    <input data-drupal-selector="edit-keys" class="form-search form-control" placeholder="Search" type="search" id="edit-keys" name="keys" value="">
                    <div class="input-group-btn" aria-hidden="true">
                        <button class="btn btn-default" type="submit" value="Search"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<!-- LOGO -->

<div class="header-logo">
  <div class="col-md-12">
    <a href="https://www.vancouver.wsu.edu"><img class="primary-logo" src="https://www.vancouver.wsu.edu/sites/www.vancouver.wsu.edu/themes/omegawsuv/images/wsu-vancouver-primary-logo-rgb.svg" alt="Washington State University Vancouver logo"></a>
  </div>
</div>

<!-- MAIN CONTENT -->

<div class="container-max-width">

    {{ page_top }}
    {{ page }}
    {{ page_bottom }}

</div>

<!-- FOOTER SITEMAP -->

<div class="footer-sitemap">
  <div class="col-md-3">
  		<ul>
 			<li class="sitemap-section"><strong>WSU Vancouver</strong></li>
			<li><a href="https://www.vancouver.wsu.edu/about-wsu-vancouver">About WSU Vancouver</a></li>
			<li><a href="http://registrar.wsu.edu/academic-calendar">Academic Calendar</a></li>
			<li><a href="http://directory.vancouver.wsu.edu">Campus Directory</a></li>
			<li><a href="https://www.vancouver.wsu.edu/campus-map-directions-and-parking-information">Campus Map</a></li>
			<li><a href="https://hd.vancouver.wsu.edu/child-development">Child Development Program</a></li>
			<li><a href="https://admin.vancouver.wsu.edu/diversity">Diversity</a></li>
			<li><a href="https://admin.vancouver.wsu.edu/human-resources/employment">Employment</a></li>
			<li><a href="https://events.vancouver.wsu.edu">Events Calendar</a></li>
			<li><a href="https://admin.vancouver.wsu.edu/facilities-operations/events-office">Events Office</a></li>
			<li><a href="https://admin.vancouver.wsu.edu/parking/parking-services">Parking Services</a></li>
			<li><a href="https://admin.vancouver.wsu.edu/research">Research</a></li>
    	</ul>
  </div>
  <div class="col-md-3">
  		<ul>
 			<li class="sitemap-section"><strong>Future Students</strong></li>
			<li><a href="https://studentaffairs.vancouver.wsu.edu/admissions">Admissions</a></li>
			<li><a href="https://studentaffairs.vancouver.wsu.edu/financial-aid">Student Financial Services</a></li>
			<li><a href="https://studentaffairs.vancouver.wsu.edu/majors-and-programs">Majors and Programs</a></li>
			<li>&nbsp;</li>
			<li class="sitemap-section"><strong>Current Students</strong></li>
			<li><a href="http://learn.wsu.edu/">Blackboard</a></li>
			<li><a href="https://library.vancouver.wsu.edu">Library</a></li>
      <li><a href="http://office365.wsu.edu/">Student Email</a></li>
			<li><a href="https://studentaffairs.vancouver.wsu.edu/osi">Student Involvement</a></li>
			<li><a href="https://studentaffairs.vancouver.wsu.edu/student-involvement/registered-student-organizations-rsos">Student Organizations</a></li>
			<li><a href="https://studentaffairs.vancouver.wsu.edu/src">Student Resource Center</a></li>
    	</ul>
  </div>
  <div class="col-md-3">
  		<ul>
 			<li class="sitemap-section"><strong>Administration</strong></li>
			<li><a href="https://admin.vancouver.wsu.edu/academic-affairs">Academic Affairs</a></li>
			<li><a href="https://admin.vancouver.wsu.edu/capital-planning-and-development">Capital Planning and Development</a></li>
			<li><a href="https://admin.vancouver.wsu.edu/office-of-the-chancellor">Office of the Chancellor</a></li>
			<li><a href="https://admin.vancouver.wsu.edu/development-and-alumni-relations">Development and Alumni Relations</a></li>
			<li><a href="https://admin.vancouver.wsu.edu/finance-and-operations">Finance and Operations</a></li>
			<li><a href="https://admin.vancouver.wsu.edu/human-resources">Human Resources</a></li>
			<li><a href="https://admin.vancouver.wsu.edu/information-technology">Information Technology</a></li>
			<li><a href="https://admin.vancouver.wsu.edu/marketing-and-communications">Marketing and Communications</a></li>
			<li><a href="https://admin.vancouver.wsu.edu/public-safety/public-safety">Public Safety</a></li>
			<li><a href="https://www.vancouver.wsu.edu/safety-plan">Safety Plan and Security Report</a></li>
			<li><a href="https://studentaffairs.vancouver.wsu.edu/">Student Affairs and Enrollment</a></li>
   		</ul>
  </div>
  <div class="col-md-3">
  		<ul>
 			<li class="sitemap-section"><strong>Academic Units</strong></li>
			<li><a href="https://cas.vancouver.wsu.edu">Arts and Sciences</a></li>
      <li><a href="https://business.vancouver.wsu.edu">Business</a></li>
			<li><a href="https://education.vancouver.wsu.edu">Education</a></li>
			<li><a href="https://ecs.vancouver.wsu.edu">Engineering and Computer Science</a></li>
			<li><a href="https://hd.vancouver.wsu.edu">Human Development</a></li>
			<li><a href="https://nursing.vancouver.wsu.edu">Nursing</a></li>
			<li>&nbsp;</li>
			<li class="sitemap-section"><strong>Alumni</strong></li>
			<li><a href="https://admin.vancouver.wsu.edu/development-and-alumni-relations/alumni-relations/alumni-association">Alumni Association</a></li>
			<li><a href="https://admin.vancouver.wsu.edu/development-and-alumni-relations/alumni-relations/get-involved">Get Involved</a></li>
			<li><a href="https://admin.vancouver.wsu.edu/giving/make-gift-wsu-vancouver">Make a Gift</a></li>
    	</ul>
  </div>
</div>

<!-- FOOTER COPYRIGHT -->

<div class="footer-copyright">
    <div class="col-md-6">
  	  <ul>
        <li class="copyright-section"><strong>&copy; WSU Vancouver</strong></li>
        <li><a href="https://access.wsu.edu/">Accessibility</a></li>
        <li><a href="https://policies.wsu.edu/">Policies</a></li>
        <li><a href="http://public.wsu.edu/~forms/ProposedWAC.html">Rule making</a></li>
        <li><a href="https://ucomm.wsu.edu/wsu-copyright-policy/">Copyright</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <div>
  		<ul>
        <li>14204 NE Salmon Creek Ave, Vancouver, WA, 98686</li>
        <li><a href="tel:+13605469788">360-546-9788</a></li>
        <li><a href="https://www.vancouver.wsu.edu/campus-map-directions-and-parking-information">Map</a></li>
      </ul>
    </div>
  </div>

<!-- SOCIAL MEDIA ICONS -->

    <js-bottom-placeholder token="{{ placeholder_token|raw }}">
  </body>
</html>
